header {
	font-family: Arial, Helvetica, "sans-serif";
	border-top: 4px solid;
	padding-top: 50px;
	text-align: center;
}

main {
	padding-top: 50px;
	padding-bottom: 200px;
	padding-left: 60px;
	padding-right: 60px;
}

footer {
	text-align: center;
	border-bottom: 4px solid;
	padding-bottom: 50px;
}

p {
	font-family: Times, "serif";
	color: #000000;
	font-size: 1.2em;
	line-height: 1.5em;
}

h1 {
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
	font-size: 2em;
	text-align: center;
}

h2 {
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
	font-size: 1.4em;
	text-align: left;
}

h3 {
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
	font-size: 1.1em;
	text-align: left;
}

h4 {
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
	font-size: 1em;
	text-align: left;
}

li{
	color: #000000;
	font-size: 1.2em;
}

ul{
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
	font-size: 1em;
	list-style: square;
}

link {
	font-family: Arial, Helvetica, "sans-serif";
	font-weight: bold;
}

hr{
	display: block;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 40px;
	margin-top: 40px;
}

a {
	font-family: Arial, Helvetica, "sans-serif";
	color: #000000;
}

img {
	
}



italic {
	font-style: italic;
}

offlink {
	font-family: Arial, Helvetica, "sans-serif";
	font-weight: bold;
	font-style: italic;
}

socimg {
	padding: 10px 10px 10px 10px;
	border: none;
}


avatar{
	float: right;
	padding-left: 30px;
}